# Optional - Set to 'development' for extra debugging messages
NODE_ENV=

# Setup Neon Database https://console.neon.tech/app/projects
DATABASE_URL=

# Add by running `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=

# Setup Google Auth Provider. Read more: https://support.google.com/googleapi/answer/6158849?hl=en
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=